* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    
    /* Görselin kendi arkaplan tonuna yakın lacivert/koyu mavi renk */
    background-color: #09101e; 
    
    /* Buradaki 'bg.jpg' ismini görselinizin ismiyle değiştirebilirsiniz */
    background-image: url('bg.jpg'); 
    
    /* Varsayılan olarak ekranın tam ortasına yerleştir */
    background-position: center;
    background-repeat: no-repeat;
    
    /* Masaüstünde logonun kesilmemesi için 'contain' kullanıyoruz */
    background-size: contain; 
}

/* Telefon gibi dikey (mobil) ekran boyutlarında fotoğrafın tüm ekranı kaplaması için */
@media (max-aspect-ratio: 1/1) {
    body, html {
        background-size: cover;
    }
}
